<ion-header>
  <ion-toolbar>
    <ion-title>All transactions</ion-title>
    <ion-buttons menuToggle="right">
      <button ion-button color="secondary" (click)="goToTransactionPage()">
        <ion-icon name="add"></ion-icon>&nbsp;New
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="transactionsService">
    <ion-item-sliding *ngFor="let transaction of transactionsService.data; let i = index">
      <ion-item>
        <h2>{{transaction.label}}</h2>
        <p>{{transaction.description}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="onEdit(i)">Edit</button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onRemove(i)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
