<ion-header>
  <ion-toolbar>
    <ion-title>All transactions</ion-title>
    <ion-buttons menuToggle="right">
      <button ion-button color="danger" (click)="toTotal()">
        <ion-icon name="analytics"></ion-icon>&nbsp;Total
      </button>
      <button ion-button color="secondary" (click)="toNew()">
        <ion-icon name="create"></ion-icon>&nbsp;New
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="transactionsService">
    <ion-item-sliding *ngFor="let transaction of transactionsService.data; let i = index">
      <ion-item>
        <h2>
          <ion-icon *ngIf="transaction.profit != true" name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="transaction.profit == true" name="arrow-dropup"></ion-icon>
          &nbsp;{{transaction.value}} {{transaction.label}}</h2>
        <p>{{transaction.updatedAt | date:'medium'}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="onRemove(i)">remove</button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="toEdit(i)">edit</button>
        <button ion-button (click)="toView(i)">details</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
